#loading-icon {
    display: flex;
    overflow: auto;
    height: 100px;
}

#main-container {
    display: flex;
}

#logits-container, #embeddings-container {
    display: flex;
    flex-direction: row;
}

#attention-container {
    flex-direction: column;
}

#answers-container {
    margin-top: 10px;
}

#all-answers {
    border: 1px solid gray;
    height: 120px;
    padding: 10px 0px 10px 0px;
    font-family: monospace;
    border-radius: 5px;
}

.leader-line {
    z-index: -1; /* to avoid obscuring heatmap hovertext */
    width: 100px;
}

.embeddings-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

.embedding-dropdown {
    width: 130px;
}

/* style all dropdowns */
select {
    text-align: center;
}

/* style radio buttons */
.emb-radio-buttons {
    height: 30px;
    width: 30px;
    accent-color: brown;
    margin-bottom: 10px;
}

/* style submit buttons */
input[type=submit] {
    width: 6em;  
    height: 3em;
}

/* style threshold slider for answers */
#answer-threshold {
    padding: 1%;
}