#loading-icon {
    display: flex;
    overflow: auto;
    height: 100px;
}

#main-container {
    display: flex;
}

#logits-container, #embeddings-container {
    display: flex;
    flex-direction: row;
}

#attention-container {
    flex-direction: column;
}

#answers-container {
    margin-top: 10px;
}

#all-answers {
    border: 1px solid gray;
    height: 120px;
    padding: 10px 0px 10px 0px;
    font-family: monospace;
    border-radius: 5px;
}

.leader-line {
    z-index: -1; /* to avoid obscuring heatmap hovertext */
    width: 100px;
}

#embedding-0-container, #embedding-1-container, 
#embedding-2-container, #embedding-3-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

/* style dropdowns */
select {
    text-align: center;
}